  <div class="container" style="position: absolute;">
    <form action="/admin/download_teams" method="POST" id="download_teams">
  <input type="submit" class="form-control float-right" href="" style="max-width: 100px;margin-right: 30px" value="DOWNLOAD">
  <select class="form-control float-right" style="max-width: 100px;margin-right: 30px;" id="sort_sports" name="sort_sports">
  <option value="all">All</option>
    <option value="Athletics">Athletics</option>
    <option value="Badminton">Badminton</option>
    <option value="Basketball">Basketball</option>
    <option value="Chess">Chess</option>
    <option value="Cricket">Cricket</option>
    <option value="Football">Football</option>
    <option value="Handball">Handball</option> 
    <option value="Kabaddi">Kabaddi</option>
    <option value="Powerlifting">Powerlifting</option>
    <option value="TableTennis">TableTennis</option>
    <option value="Tennis">Tennis</option>
    <option value="Volleyball">Volleyball</option>
</select>
<select class="form-control float-right" style="max-width: 100px;margin-right: 30px;" id="sort_gender" name="sort_gender">
  <option value="all">All</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
</select>
</form>
</div>
<% teams.forEach(function(team){ %>
<div class="card <%= team.sport %> <%=team.gender %> all" style="position: relative; top: 120px;">
   <% var name = team.id+" Team" %>
  <div class="card-header" name="<%= name %>">
    <%= team.time.getDate() %>/<%= team.time.getMonth()+1 %>/<%= team.time.getFullYear() %>
    &nbsp; <%= team.time.getHours() %>:<%= team.time.getMinutes() %>
  </div>
  <div class="card-block">
  	<ul class="list-group list-group-flush">
      <% if(team.leader){ %>
    <li class="list-group-item">Contingent Leader Name:&nbsp;<strong><a href="/admin/showTeamLeaders#<%= team.leader.id %>" id="teamLeaderLink"><%= team.leader.name %></strong></li></a>
    <% } %>
     <li class="list-group-item">Team Captain Name:&nbsp;<strong><%= team.captain %></strong></li>
      <li class="list-group-item">Contact:&nbsp;<%= team.contact %></li>
    <li class="list-group-item">College:&nbsp;<%= team.college %></li>
     <li class="list-group-item">Sport:&nbsp;<%= team.sport %></li>
      <li class="list-group-item">Gender:&nbsp;<%= team.gender %></li>
     <li class="list-group-item">Number of Players:&nbsp;<%= team.number_of_players %></li>
    <% for(var i=0;i<team.number_of_players;i++){ %>
     <li class="list-group-item">Player&nbsp;<%= (i+1) %>&nbsp; Name:&nbsp;<%= team.players[i] %></li>
    <% } %>
  </ul>
  </div>
</div>
<br>
<% }); %>
