   <a class="form-control float-right" href="/admin/download_teamLeader" style="max-width: 100px;margin-right: 30px">DOWNLOAD</a>
<br>
<br>
<% teamLeaders.forEach(function(teamLeader){ %>
<br>
<div class="card" id="<%= teamLeader.id %>">
  <% var name = teamLeader.id+" TeamLeader" %>
  <div class="card-header" name="<%= name %>">
    <%= teamLeader.time.getDate() %>/<%= teamLeader.time.getMonth() %>/<%= teamLeader.time.getFullYear() %>
    &nbsp <%= teamLeader.time.getHours() %>:<%= teamLeader.time.getMinutes() %>
  </div>
  <div class="card-block">
  	<ul class="list-group list-group-flush">
    <li class="list-group-item">Name:&nbsp<strong><%= teamLeader.name %></strong></li>
    <li class="list-group-item">College:&nbsp<%= teamLeader.college %></li>
    <li class="list-group-item">Contact:&nbsp<%= teamLeader.number %></li>
    <li class="list-group-item">Email:&nbsp<%= teamLeader.email %></li>
  </ul>
  </div>
</div>
<br>
<% }); %>
