  <a class="form-control float-right" href="/admin/download_zakir" style="max-width: 100px;margin-right: 30px" download>DOWNLOAD</a>
  <input type="text" placeholder="Search UID" style="max-width: 100px;margin-right: 30px;" id="search_zakir">
<br>
<br>
<% zakirs.forEach(function(zakir){ %>
<br>
<div class="card <%= zakir.uid %> ">
   <% var name = zakir.uid+" Zakir" %>
  <div class="card-header" name="<%= name %>">
    <%= zakir.time.getDate() %>/<%= zakir.time.getMonth()+1 %>/<%= zakir.time.getFullYear() %>
    &nbsp; <%= zakir.time.getHours() %>:<%= zakir.time.getMinutes() %>
  </div>
  <div class="card-block">
  	<ul class="list-group list-group-flush">
      <li class="list-group-item">UID:&nbsp;<strong><%= zakir.uid %></strong></li>
    <li class="list-group-item">Name:&nbsp;<strong><%= zakir.name %></strong></li>
    <li class="list-group-item">College:&nbsp;<%= zakir.college %></li>
    <li class="list-group-item">Contact:&nbsp;<%= zakir.contact %></li>
     <li class="list-group-item">Email:&nbsp;<%= zakir.email %></li>
     <li class="list-group-item">Gender:&nbsp;<%= zakir.gender %></li>
     <li class="list-group-item">ProfileURL:&nbsp;<%= zakir.profileURL %></li>
     <% if(zakir.screenshotURL){ %>
     <li class="list-group-item">Screenshot:&nbsp;<img src='<%= zakir.screenshotURL %>'></li>
     <% } %>
     <% if(zakir.status){ %>
     <li class="list-group-item">Status:&nbsp;<strong style="color: green;">Confirm</strong></li>
     <% }else{ %>
     <li class="list-group-item">Status:&nbsp;<strong style="color: red;">Waiting</strong></li>
     <% } %>
  </ul>
  </div>
</div>
<br>
<% }); %>
