<% teamLeaders.forEach(function(teamLeader){ %>
<br>
<div class="card">
  <% var color = teamLeader.tag %>
  <div class="card-header" style="background: <%= color %>;">
    <%= teamLeader.time.getDate() %>/<%= teamLeader.time.getMonth() %>/<%= teamLeader.time.getFullYear() %>
    &nbsp <%= teamLeader.time.getHours() %>:<%= teamLeader.time.getMinutes() %>
    <div class="circle-grey float-right" style="margin-left: 7px;margin-top: 5px;">
    </div>
     <div class="circle-green float-right" style="margin-left: 7px;margin-top: 5px;">
    </div>
     <div class="circle-red float-right" style="margin-left: 7px;margin-top: 5px;">
    </div>
  </div>
  <div class="card-block">
  	<ul class="list-group list-group-flush">
    <li class="list-group-item">Name:&nbsp<strong><%= teamLeader.name %></strong></li>
    <li class="list-group-item">College:&nbsp<%= teamLeader.college %></li>
    <li class="list-group-item">Contact:&nbsp<%= teamLeader.number %></li>
    <li class="list-group-item">Email:&nbsp<%= teamLeader.email %></li>
  </ul>
  </div>
</div>
<br>
<% }); %>