	<% var data = id ; %>
<% include partials/headeradmin %>
<br>
<select class="form-control float-right" style="max-width: 100px;margin-right: 30px;">
	<option value="all">All</option>
    <option value="one">Grey</option>
    <option value="two">Green</option>
    <option value="three">Red</option>
</select>
<br>
<div class="container" id="showDetails">
	<% if(id==0) { %>
	<%- include partials/showTeams %>
	<% } else if(id==1) { %>
	<%- include partials/showSports %>
	<% } else if(id==2) { %>
	<%- include partials/showCA %>
	<% } else if(id==3){  %>
	<%- include partials/showTeamLeaders %>
	<% } else { %>
	<%- include partials/showScores %>
	<% } %>
</div>
