	<% var data = id ; %>
<% include partials/nav_admin %>
<br>
<div class="container" id="showDetails">
	<% if(id==0) { %>
	<%- include partials/showTeams %>
	<% } else if(id==1) { %>
	<%- include partials/showSports %>
	<% } else if(id==2) { %>
	<%- include partials/showCA %>
	<% } else if(id==3){  %>
	<%- include partials/showTeamLeaders %>
	<% } else if(id==4) { %>
	<%- include partials/showScores %>
	<% } else if(id==5){ %>
	<%- include partials/showEvents %>
	<% } else if(id==6) { %>
	<%- include partials/showZakir %>
	<% } else if(id==7) { %>
	<%- include partials/showZakirnew %>
	<% }else{ %>
	<%- include partials/showUID %>
	<% } %>
</div>
