<% include partials/header_three %>
<h2>Total:&nbsp;&#x20b9;<%= amount %></h2>
<div class="container">
<% teams.forEach(function(team){ %>
<div class="card <%= team.sport %> <%=team.gender %> all" style="position: relative; top: 120px;">
   <% var name = team.id+" Team" %>
  <div class="card-header" name="<%= name %>">
    <%= team.time.getDate() %>/<%= team.time.getMonth()+1 %>/<%= team.time.getFullYear() %>
    &nbsp; <%= team.time.getHours() %>:<%= team.time.getMinutes() %>
  </div>
  <div class="card-block">
  	<ul class="list-group list-group-flush">
     <li class="list-group-item">Team Captain Name:&nbsp;<strong><%= team.captain %></strong></li>
     <li class="list-group-item">Sport:&nbsp;<%= team.sport %></li>
      <li class="list-group-item">Gender:&nbsp;<%= team.gender %></li>
      <li class="list-group-item">Amount:&nbsp;&#x20b9;<%= team.amount %></li>
     <li class="list-group-item">Number of Players:&nbsp;<%= team.number_of_players %></li>
    <% for(var i=0;i<team.number_of_players;i++){ %>
     <li class="list-group-item">Player&nbsp;<%= (i+1) %>&nbsp; Name:&nbsp;<%= team.players[i] %></li>
    <% } %>
  </ul>
  </div>
</div>
<br>
<% }); %>
</div>
<form action="/contingent_submit" method="POST">
<button class="waves-effect waves-light btn-large" style="background-color: #00b0ff;">Pay</button>
</form>