<% var transparent = false ; %>
 <% include partials/nav_aahvaan %> 
<div class="container">

	<div class="row">
		<div class="col rectangle rectangle-1" data-toggle="modal" data-target="#athleticsModal">
			<h1 class="text-center" style="color: white;">Athletics</h1>
		</div>
		<div class="modal fade" id="athleticsModal">
    <div class="modal-dialog" style="max-width: 80%;">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="heading-secondary-main" style="margin: 0 auto; padding-left: 1rem;">RULES</h2>
          <button type="button" class="close" data-dismiss="modal" style="margin-left: 1rem;">&times;</button>
        </div>
        <div class="modal-body">
          <%- include partials/athletics %>
        </div>
        <div class="modal-footer">
          <button type="button" class="butn" data-dismiss="modal">Close</button>
          	<form action="/register_teams" method="POST">
				<input type="hidden" name="sport" value="1">
         	    <div class="form__group">
                  <button class="butn butn--green">Register &rarr;</button>
              </div>
         	</form>
        </div>
      </div>
    </div>
  </div>
		<div class="col rectangle rectangle-2" data-toggle="modal" data-target="#badmintonModal">
			<h1 class="text-center" style="color: white;">Badminton</h1>
		</div>
	<div class="modal fade" id="badmintonModal">
    <div class="modal-dialog" style="max-width: 80%;">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="heading-secondary-main" style="margin: 0 auto; padding-left: 1rem;">RULES</h2>
          <button type="button" class="close" data-dismiss="modal" style="margin-left: 1rem;">&times;</button>
        </div>
        <div class="modal-body">
          <%- include partials/badminton %>
        </div>
        <div class="modal-footer">
          <button type="button" class="butn" data-dismiss="modal">Close</button>
          	<form action="/register_teams" method="POST">
				<input type="hidden" name="sport" value="2">
         	    <div class="form__group">
                  <button class="butn butn--green">Register &rarr;</button>
              </div>
         	</form>
        </div>
      </div>
    </div>
  </div>
		<div class="col rectangle rectangle-3" data-toggle="modal" data-target="#basketballModal">
			<h1 class="text-center" style="color: white;">Basketball</h1>
		</div>
	<div class="modal fade" id="basketballModal">
    <div class="modal-dialog" style="max-width: 80%;">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="heading-secondary-main" style="margin: 0 auto; padding-left: 1rem;">RULES</h2>
          <button type="button" class="close" data-dismiss="modal" style="margin-left: 1rem;">&times;</button>
        </div>
        <div class="modal-body">
          <%- include partials/basketball %>
        </div>
        <div class="modal-footer">
          <button type="button" class="butn" data-dismiss="modal">Close</button>
          	<form action="/register_teams" method="POST">
				<input type="hidden" name="sport" value="3">
         	    <div class="form__group">
                  <button class="butn butn--green">Register &rarr;</button>
              </div>
         	</form>
        </div>
      </div>
    </div>
  </div>
	</div>


	<div class="row">
		<div class="col rectangle rectangle-4" data-toggle="modal" data-target="#chessModal">
			<h1 class="text-center" style="color: white;">Chess</h1>
		</div>
	<div class="modal fade" id="chessModal">
    <div class="modal-dialog" style="max-width: 80%;">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="heading-secondary-main" style="margin: 0 auto; padding-left: 1rem;">RULES</h2>
          <button type="button" class="close" data-dismiss="modal" style="margin-left: 1rem;">&times;</button>
        </div>
        <div class="modal-body">
          <%- include partials/chess %>
        </div>
        <div class="modal-footer">
          <button type="button" class="butn" data-dismiss="modal">Close</button>
          	<form action="/register_teams" method="POST">
				<input type="hidden" name="sport" value="4">
         	    <div class="form__group">
                  <button class="butn butn--green">Register &rarr;</button>
              </div>
         	</form>
        </div>
      </div>
    </div>
  </div>
		<div class="col rectangle rectangle-5" data-toggle="modal" data-target="#cricketModal">
			<h1 class="text-center" style="color: white;">Cricket</h1>
		</div>
	<div class="modal fade" id="cricketModal">
    <div class="modal-dialog" style="max-width: 80%;">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="heading-secondary-main" style="margin: 0 auto; padding-left: 1rem;">RULES</h2>
          <button type="button" class="close" data-dismiss="modal" style="margin-left: 1rem;">&times;</button>
        </div>
        <div class="modal-body">
          <%- include partials/cricket %>
        </div>
        <div class="modal-footer">
          <button type="button" class="butn" data-dismiss="modal">Close</button>
          	<form action="/register_teams" method="POST">
				<input type="hidden" name="sport" value="5">
         	    <div class="form__group">
                  <button class="butn butn--green">Register &rarr;</button>
              </div>
         	</form>
        </div>
      </div>
    </div>
  </div>
		<div class="col rectangle rectangle-6" data-toggle="modal" data-target="#footballModal">
			<h1 class="text-center" style="color: white;">Football</h1>
		</div>
	<div class="modal fade" id="footballModal">
    <div class="modal-dialog" style="max-width: 80%;">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="heading-secondary-main" style="margin: 0 auto; padding-left: 1rem;">RULES</h2>
          <button type="button" class="close" data-dismiss="modal" style="margin-left: 1rem;">&times;</button>
        </div>
        <div class="modal-body">
          <%- include partials/football %>
        </div>
        <div class="modal-footer">
          <button type="button" class="butn" data-dismiss="modal">Close</button>
          	<form action="/register_teams" method="POST">
				<input type="hidden" name="sport" value="6">
         	    <div class="form__group">
                  <button class="butn butn--green">Register &rarr;</button>
              </div>
         	</form>
        </div>
      </div>
    </div>
  </div>
	</div>


	<div class="row">
		<div class="col rectangle rectangle-7" data-toggle="modal" data-target="#handballModal">
			<h1 class="text-center" style="color: white;">Handball</h1>
		</div>
	<div class="modal fade" id="handballModal">
    <div class="modal-dialog" style="max-width: 80%;">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="heading-secondary-main" style="margin: 0 auto; padding-left: 1rem;">RULES</h2>
          <button type="button" class="close" data-dismiss="modal" style="margin-left: 1rem;">&times;</button>
        </div>
        <div class="modal-body">
          <%- include partials/handball %>
        </div>
        <div class="modal-footer">
          <button type="button" class="butn" data-dismiss="modal">Close</button>
          	<form action="/register_teams" method="POST">
				<input type="hidden" name="sport" value="7">
         	    <div class="form__group">
                  <button class="butn butn--green">Register &rarr;</button>
              </div>
         	</form>
        </div>
      </div>
    </div>
  </div>
		<div class="col rectangle rectangle-8" data-toggle="modal" data-target="#kabaddiModal">
			<h1 class="text-center" style="color: white;">Kabaddi</h1>
		</div>
	<div class="modal fade" id="kabaddiModal">
    <div class="modal-dialog" style="max-width: 80%;">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="heading-secondary-main" style="margin: 0 auto; padding-left: 1rem;">RULES</h2>
          <button type="button" class="close" data-dismiss="modal" style="margin-left: 1rem;">&times;</button>
        </div>
        <div class="modal-body">
          <%- include partials/kabaddi %>
        </div>
        <div class="modal-footer">
          <button type="button" class="butn" data-dismiss="modal">Close</button>
          	<form action="/register_teams" method="POST">
				<input type="hidden" name="sport" value="8">
         	    <div class="form__group">
                  <button class="butn butn--green">Register &rarr;</button>
              </div>
         	</form>
        </div>
      </div>
    </div>
  </div>
		<div class="col rectangle rectangle-9" data-toggle="modal" data-target="#powerliftingModal">
			<h1 class="text-center" style="color: white;">Powerlifting</h1>
		</div>
	<div class="modal fade" id="powerliftingModal">
    <div class="modal-dialog" style="max-width: 80%;">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="heading-secondary-main" style="margin: 0 auto; padding-left: 1rem;">RULES</h2>
          <button type="button" class="close" data-dismiss="modal" style="margin-left: 1rem;">&times;</button>
        </div>
        <div class="modal-body">
          <%- include partials/powerlifting %>
        </div>
        <div class="modal-footer">
          <button type="button" class="butn" data-dismiss="modal">Close</button>
          	<form action="/register_teams" method="POST">
				<input type="hidden" name="sport" value="9">
         	    <div class="form__group">
                  <button class="butn butn--green">Register &rarr;</button>
              </div>
         	</form>
        </div>
      </div>
    </div>
  </div>
	</div>

	<div class="row">
		<div class="col rectangle rectangle-10" data-toggle="modal" data-target="#tabletennisModal">
			<h1 class="text-center" style="color: white;">Table Tennis</h1>
		</div>
	<div class="modal fade" id="tabletennisModal">
    <div class="modal-dialog" style="max-width: 80%;">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="heading-secondary-main" style="margin: 0 auto; padding-left: 1rem;">RULES</h2>
          <button type="button" class="close" data-dismiss="modal" style="margin-left: 1rem;">&times;</button>
        </div>
        <div class="modal-body">
          <%- include partials/tabletennis %>
        </div>
        <div class="modal-footer">
          <button type="button" class="butn" data-dismiss="modal">Close</button>
          	<form action="/register_teams" method="POST">
				<input type="hidden" name="sport" value="10">
         	    <div class="form__group">
                  <button class="butn butn--green">Register &rarr;</button>
              </div>
         	</form>
        </div>
      </div>
    </div>
  </div>
		<div class="col rectangle rectangle-11" data-toggle="modal" data-target="#tennisModal">
			<h1 class="text-center" style="color: white;">Tennis</h1>
		</div>
	<div class="modal fade" id="tennisModal">
    <div class="modal-dialog" style="max-width: 80%;">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="heading-secondary-main" style="margin: 0 auto; padding-left: 1rem;">RULES</h2>
          <button type="button" class="close" data-dismiss="modal" style="margin-left: 1rem;">&times;</button>
        </div>
        <div class="modal-body">
          <%- include partials/tennis %>
        </div>
        <div class="modal-footer">
          <button type="button" class="butn" data-dismiss="modal">Close</button>
          	<form action="/register_teams" method="POST">
				<input type="hidden" name="sport" value="11">
         	    <div class="form__group">
                  <button class="butn butn--green">Register &rarr;</button>
              </div>
         	</form>
        </div>
      </div>
    </div>
  </div>
		<div class="col rectangle rectangle-12" data-toggle="modal" data-target="#volleyballModal">
			<h1 class="text-center" style="color: white;">Volleyball</h1>
		</div>
	<div class="modal fade" id="volleyballModal">
    <div class="modal-dialog" style="max-width: 80%;">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="heading-secondary-main" style="margin: 0 auto; padding-left: 1rem;">RULES</h2>
          <button type="button" class="close" data-dismiss="modal" style="margin-left: 1rem;">&times;</button>
        </div>
        <div class="modal-body">
          <%- include partials/volleyball %>
        </div>
        <div class="modal-footer">
          <button type="button" class="butn" data-dismiss="modal">Close</button>
          	<form action="/register_teams" method="POST">
				<input type="hidden" name="sport" value="12">
         	    <div class="form__group">
                  <button class="butn butn--green">Register &rarr;</button>
              </div>
         	</form>
        </div>
      </div>
    </div>
  </div>
	</div>

</div>